<div  class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="text-center text-success">Status</h4>
    </div>
    <div class="modal-body">
      <% if @cart.errors.any? %>
         <h5><%= pluralize(@cart.errors.count,'error') %>' has stopped you from reserving this book.</h5>
          <ul>
            <%= @cart.errors.full_messages.each do |message| %>
               <li><%= message %></li>
            <% end %>
          </ul>
      <% else %>
          <p class="success"><%= @book.isbn %>' has been reserved!'</p>
      <% end %>
    </div>
  </div>
</div>